body{
    background: linear-gradient(90deg, rgba(0,19,32,1) 0%, rgba(48,48,48,1) 100%);
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
header{
    margin-top: 2em;
}
.logo{
    max-width: 2.5em;
    pointer-events: none;
    margin-left: 0.5em;
    filter: drop-shadow(0 0 0.3rem #1595F2);
    display: inline-block;
}
.links{
    vertical-align: top;
    float: right;
}
.headerlink{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-right: 2.5em;
    display: inline-block;
}
.headerlink:hover{
    text-decoration: underline 3px white;
}
main{
    margin-top: 20%;
}
.herotxt{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 0.4em;
    margin-left: 1.5em;
}
.herodesc{
    color:#717171;
    font-weight: normal;
    font-size: 0.7em;
}
.btn{
    background-color: #1595F2;
    border-radius: 0.5em;
    padding: 0.7em 2em 0.7em 2em;
    margin-right: 1em;
}
.btn:hover{
    background-color: #1376bd;
}

.lol{
    display: inline;
    margin-left: 4.6em;
    color: rgb(161, 160, 160);
    font-weight: bold;
    bottom: 0;
}
.lol:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.lowgo{
    animation:glowrev 1s 1;
    animation-fill-mode: forwards;
}
.lowgo:hover{
    animation: glow 1s 1;
    animation-fill-mode: forwards;
}
@keyframes glow {
    0%{
        filter: drop-shadow(0 0 0rem #9EE3F9);
    }
    100%{
        filter: drop-shadow(0 0 0.5rem #9EE3F9);
    }
}
@keyframes glowrev {
    100%{
        filter: drop-shadow(0 0 0rem #9EE3F9);
    }
    0%{
        filter: drop-shadow(0 0 0.5rem #9EE3F9);
    }
}